# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/
cbf_robot.log

# Environment variables
.env
.venv
env/
venv/
ENV/

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Data Files
# Uncomment these if you don't want to version control your data
# csv/*.csv
# pdfs/*.pdf